body {
  margin: 0;
  background: #d9d9d9;
  font-family: Futura, "Century Gothic", Arial, sans-serif;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 40%;
  left: 8%;
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
}

.button {
  position: absolute;
  top: 50%;
  left: 8%;
  background: #000;
  color: #fff;
  padding: 1rem 2.5rem;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.button:hover {
  opacity: 0.9;
}

.figure1 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 380px;
  border: 2px red;
}

.figure2 {
  position: absolute;
  top: 20%;
  right: 15%;
  width: 280px;
  border: 2px red;
}

.figure3 {
  position: absolute;
  top: 5%;
  left: 35%;
  width: 380px;
  border: 2px red;
}

.figure4 {
  position: absolute;
  top: 60%;
  left: 15%;
  width: 355px;
  border: 2px red;
}

.figure1:hover,
.figure2:hover,
.figure3:hover,
.figure4:hover {
  opacity: 0.5;
  transition: 2ms;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }

  .button {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }

  .figure1 {
    bottom: 20%;
    left: 10%;
    width: 170px;
  }

  .figure2 {
    top: 10%;
    left: 10%;
    width: 170px;
  }

  .figure3 {
    top: 10%;
    left: 60%;
    width: 190px;
  }
  .figure4 {
    bottom: 5%;
    left: 60%;
    width: 170px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }

  .button {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }

  .figure1 {
    bottom: 20%;
    left: 10%;
    width: 125px;
  }

  .figure2 {
    top: 10%;
    left: 10%;
    width: 120px;
  }

  .figure3 {
    top: 10%;
    left: 60%;
    width: 130px;
  }
  .figure4 {
    bottom: 10%;
    left: 60%;
    width: 120px;
  }
}
